
<div class="form">


 <div class="img">
                <img src="assets/img/Frame 83.png" alt=""> 
              </div>
              
<div class="formulario">
        
        <form [formGroup]="LoginFormGroup" (ngSubmit)="leerDatos()">
            <h1>Ingresar</h1>
            <input formControlName="email"   autocomplete="off" type="email" placeholder="Email" required>
            <input formControlName="password"  autocomplete="off" type="password" placeholder="Contraseña" required>
            <h3>¿No tienes una cuenta?<span class="register">Registrate</span></h3>
            
            <button class="click" [disabled]="LoginFormGroup.invalid" type="submit">Ingresar</button>
        </form>
            </div> 

    </div>    

     
      
