<!-- <p>card works!</p> -->


<div class="hero">
 <div class="hero_txt">
        <h1>PELIS UP!</h1>
        <p>Plataforma para ver peliculas y series</p> 
    </div>

<div class="hero_buscador">
        <form action="pagina_de_resultados.html" method="get">
          <input type="text" name="q" placeholder="Buscar peliculas y series">
        </form>
</div>
    
<div class="tab_categorias">
        <form action="">
        <button class="tab" onclick="mostrarCategoria('todas')">Todas</button>
        <button class="tab" onclick="mostrarCategoria('peliculas')">Películas</button>
        <button class="tab" onclick="mostrarCategoria('series')">Series</button>
      </form>
    </div>
        
<div class="card">
 <img src="assets/img/black.widow.jpg" alt="">
<h3>black Window</h3>
<p>black Window</p>
        </div>
</div>